html, body, * {
	font-family: 'Raleway', sans-serif;

}

.col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

#header {
	text-align: center;
	background:#4099FF;
	color:white;
	font-size:3em;
}
.row {
	margin:0;
}

.vid {
	background: black;
	/*width:640px;
	height:480px;
	top:150px;
	box-shadow: 0 1px 5px #191901;*/

}
#localVid {
	font-size:2em;
	background:black;
	/*un mirror video */
	transform: scale(-1, 1);            /*For Firefox (& IE) */
	-webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
}
#remoteVid {
	text-align: center;
	font-size:2em;
}
.row{
	margin-bottom:75px;
	margin-left: 0px;
	margin-right: 0px;
}


#start {
	display:none;
	border:solid #4099FF 2px;
	line-height:1em;
	font-size:100%;
	width:150px;
	text-align: center;
	color:#4099FF;
	background:none;
}
#start:hover {
	background:#4099FF;
	color:white;
	cursor: pointer;
}
#vidOptions {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom:0;
	padding-top:1em;
	padding-bottom:1em;
	color:white;
}
#next {
	width:50%;
	margin:auto;
	margin-top:75px;
	cursor:pointer;
	text-align: center;
	border:solid #4099FF 2px;
	color:#4099FF;
	background:none;
	font-size:2em;
}
#next:hover {
	background:#4099FF;
	color:white;
	cursor: pointer;
}
#wait {
	font-weight: bold;
}
#childTop {
	width:100%;
	position:absolute;
	top:5%;

}
#childFoot {
	width:100%;
	position:absolute;
	bottom:0;
}

#disconnected {
	display: none;
	position:absolute;
	width:100%;
	text-align: center;
	bottom:0%;
}
#responsive{
	display: none;
	border-radius:100%;
}

.fa-times {
	color:red;
}
.fa-check-circle {
	color:#3ACC4C;
}
.row {
}


/*css loader*/
.spinner {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {

	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #4099FF;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
		} 50% { 
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}