html, body {
	background:#F4F4F4;
}

#header {
	position:fixed;
	top:0;
	width:100vw;
	left:0;
	line-height:2em;
	text-align: center;
	background:#4099FF;
	color:white;
	font-size:2em;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	box-shadow: 0 1px 5px #191901;

}


.vid {
	position: absolute;
	background: black;
	width:640px;
	height:480px;
	top:150px;
	box-shadow: 0 1px 5px #191901;

}
#localVid {
	left:5%;

}
#remoteVid {
	right:5%;
	background: none;
	text-align: center;
	font-size:2em;

}

#start {
	display:none;
	position:absolute;
	border:solid #4099FF 2px;
	line-height:2em;
	width:150px;
	left:50%;
	margin-left:-75px;
	bottom:20px;
	text-align: center;
	color:#4099FF;
	border-radius:5px;

	transition:  .25s ease-in-out;
	-moz-transition:  .25s ease-in-out;
	-webkit-transition:  .25s ease-in-out;
}
#start:hover {
	background:#4099FF;
	color:white;
	cursor: pointer;
}
#wait {
	font-weight: bold;
}
.fa-times {
	color:red;
	position:absolute;
	right:1em;
}
.fa-check-circle {
	color:#3ACC4C;
	position:absolute;
	right:1em;}